#DOMAIN
DOMAIN_NAME=

#WORDPRESS
WP_TITLE=

# admin
WP_ADMIN=
WP_ADMIN_EMAIL=
WP_ADMIN_PASSWD=

# user
WP_USER=
WP_USER_EMAIL=
WP_USER_PASSWD=

#MARIADB
DB_NAME=

# root
DB_ROOT_PASSWD=

# user
DB_USER=
DB_USER_PASSWD=
